.nav-bar {
    text-align: right;
    height: 40px;
    background-color: aqua;
    padding-top: 20px;
}

.nav-bar > .space {
    margin-right: 20px;
}

.home {
    display: inline;
}

.project {
    display: inline;
}

.contact {
    display: inline;
}

.content > .home > .description {
    float: left;
}

.content > .home > .photograph > img {
    width: 200px;
    height: 100px;
}
