/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*clearfix*/
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.nav-bar {
    text-align: right;
}

.nav-bar>.space {
    margin-right: 20px;
}

.container .nav-bar .home {
    display: inline;
    position: absolute;
    top: 0;
    right: 140px;
    margin-top: 10px;
}

.container .nav-bar .project {
    display: inline;
    position: absolute;
    top: 0;
    right: 80px;
    margin-top: 10px;
}

.container .nav-bar .contact {
    display: inline;
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 10px;
}

.project {
    display: inline;
}

.contact {
    display: inline;
}

.center-align {
    text-align: center;
    height: 100%;
    position: relative;
}

.content .center-align .home {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content>.center-align>.home>.description {
    display: inline-block;
    margin-right: 100px;
}

.content>.center-align>.home>.photograph {
    display: inline-block;
    margin-left: 100px;
}

.content>.center-align>.home>.photograph>img {
    width: 200px;
    height: 100px;
}

.project .project-card img {
    width: 200px;
    height: 100px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(20px);
    background-color: #FAD881;
    position: absolute;
    height: 85px;
    width: 100%;
    margin-right: -10px;
    margin-top: -25px;
    top: 0;
}

.content {
    height: 100vh;
    margin-top: 70px;
    background: rgb(32, 185, 195);
    background: radial-gradient(circle, rgba(32, 185, 195, 1) 0%, rgba(255, 255, 255, 1) 58%);
    background-repeat: no-repeat;
}